#banner {
  width: 100%;
  padding: auto;
  margin: auto;
  padding-block: 5em;
}

#banner .land {
  display: flex;
  gap: 2em;
  width: 80%;
  justify-content: space-around;
  align-items: safe;
  margin: auto;
  flex-wrap: wrap;
  padding-bottom: 3em;
}
#banner .lab {
  text-align: center;
}
#banner .label1 {
  text-align: center;
  justify-content: center;
  font: normal normal bold 30px/40px Book Antiqua;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}
#banner .label1 span {
  text-align: center;
  font: normal normal normal 30px/40px Gigi;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}
#banner .bannerimage {
  background: #ffffff padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 2px solid #707070;
  opacity: 1;
  width: 900px;
}
#banner .cardimage {
  width: 300px;
}
#banner .banner-card {
  /* background-color: white; */
  display: flex;
  gap: 1em;
  flex-direction: column;
  justify-content: space-around;
  padding-inline: 2em;
  padding-block: 2em;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}
#banner .card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  margin: auto;
}

#banner .card {
  width: 500px;
  background-color: #ffff;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

#banner .card .card1 {
  width: 90%;
  margin: auto;
  height: auto;
  padding-top: 1em;
  align-self: center;
  display: block;
}
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
#banner .card-title label {
  text-align: center;
  font: 50px 'Sacramento';
  font-size: 50px;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}

#banner .card-description {
  width: 2em;
}
#banner .disc {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-block: 1em;
}

@media (max-aspect-ratio: 1/1), (max-width: 900px) {
  #banner .land{
    padding-bottom: 1em;
  }
  #banner .card-description img{
width: 1.5em;
  }
  .card-title label{
font-size: 35px;
  }
  #banner .bannerimage {
    background: #ffffff padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 2px solid #707070;
    opacity: 1;
    width: 320px;
  }
  #banner {
    display: flex;
    gap: 2em;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-block: 3em;
  }
  #banner .cardimage {
    width: 200px;
  }
}
